<form class="standard-form" [formGroup]="animalForm" (ngSubmit)="submit()">
  <h1>Add Animal</h1>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Environment</mat-label>
      <mat-select [formControl]="selectedEnvironment">
        <mat-option
          *ngFor="let env of currentEnvironments.controls; index as index"
          [value]="index"
        >
          {{ env.value.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <ng-container *ngIf="availableZones | async as zones">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Zone</mat-label>
        <mat-select [formControl]="selectedZone">
          <mat-option
            *ngFor="let zone of zones.controls; index as index"
            [value]="zone.value"
          >
            {{ zone.value.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="selectedZone.hasError('maxCapacity')">
          This zone is full.
        </mat-error>
      </mat-form-field>
    </p>
  </ng-container>

  <ng-container
    *ngIf="
      selectedEnvironment.value >= 0 && selectedZone.value && selectedZone.valid
    "
  >
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="animalForm.controls.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Species</mat-label>
        <mat-select formControlName="species">
          <mat-option
            *ngFor="let species of availableSpecies"
            [value]="species.id"
          >
            {{ species.emoji }} {{ species.name }} - {{ species.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Life Stage</mat-label>
        <mat-select formControlName="lifeStage">
          <mat-option
            *ngFor="let lifeStage of availableLifeStages"
            [value]="lifeStage"
          >
            {{ lifeStage }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </ng-container>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="
      !animalForm.valid || !selectedEnvironment.valid || !selectedZone.valid
    "
  >
    Save
  </button>
</form>
