<form class="standard-form" [formGroup]="enclosureForm" (ngSubmit)="submit()">
  <h1>{{ isNew ? 'Add' : 'Edit' }} Enclosure</h1>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Habitat</mat-label>
      <mat-select [formControl]="selectedHabitat">
        <mat-option
          *ngFor="let hab of currentHabitats.controls; index as index"
          [value]="hab.value.id"
        >
          {{ hab.value.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="enclosureForm.controls.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Max Capacity</mat-label>
      <input type="number" matInput formControlName="maxCapacity" />
      <mat-error
        *ngIf="enclosureForm.controls.maxCapacity.hasError('required')"
      >
        Max Capacity is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="enclosureForm.controls.maxCapacity.hasError('minCapacity')"
      >
        Cannot set capacity below current number of animals
      </mat-error>
    </mat-form-field>
  </p>

  <!-- TODO: better conditional on the disabled attr -->
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="
      (!enclosureForm.valid && enclosureHasUnacceptableErrors()) ||
      !selectedHabitat.valid
    "
  >
    Save
  </button>
</form>
