<form [formGroup]="addressFormGroup">
  <ng-container formArrayName="addresses">
    <ng-container
      *ngFor="let address of addressFormArray.controls; index as i"
      [formGroupName]="i"
    >
      Street:
      <input formControlName="street" />
      <br />
      City:
      <input formControlName="city" />
      <br />
      State:
      <input formControlName="state" />
      <br />
    </ng-container>
  </ng-container>
</form>
<button type="button" (click)="addAddress.emit()">Add Address</button>
