<mat-card *ngIf="enclosure" class="enclosure-card">
  <div class="enclosure-header">
    <div>
      <span class="warning" *ngIf="enclosure.invalid">⚠ </span>
      <strong>{{ enclosure.value.name }} </strong>
    </div>

    <div class="enclosure-actions">
      <button (click)="editEnclosure(enclosure)" size="small" mat-icon-button>
        📝
      </button>
      <button
        type="button"
        size="small"
        mat-icon-button
        (click)="deleteEnclosure()"
      >
        🗑
      </button>
    </div>
  </div>

  <div class="enclosure-animal-container">
    <app-animal-display
      [animal]="enclosure.controls.animals.controls[i]"
      [enclosure]="enclosure"
      [habitat]="habitat"
      *ngFor="
        let item of [].constructor(enclosure?.value?.maxCapacity ?? 0);
        index as i
      "
    ></app-animal-display>
  </div>
</mat-card>
