<div *ngIf="habitat" class="habitat-display">
  <span>Type: {{ habitat.get('type')?.value }}</span>
  <button
    type="button"
    class="emoji"
    size="small"
    mat-icon-button
    (click)="editHabitat()"
  >
    📝
  </button>
  <button
    type="button"
    class="emoji"
    size="small"
    mat-icon-button
    (click)="deleteHabitat()"
  >
    🗑
  </button>
  <div class="enclosures">
    <app-enclosure-display
      *ngFor="let enclosure of habitat.controls.enclosures.controls"
      [enclosure]="enclosure"
      [habitat]="habitat"
    ></app-enclosure-display>
  </div>
</div>
