<h2 class="text-2xl mt-2 mb-4">Current Habitats:</h2>

<button (click)="addHabitat()">Add Habitat</button>
<button (click)="addEnclosure()">Add Enclosure</button>
<button (click)="addAnimal()">Add Animal</button>
<div class="zoo-container">
  <div>
    <mat-tab-group
      [selectedIndex]="selectedHab.value"
      (selectedIndexChange)="selectedHab.setValue($event)"
    >
      <mat-tab
        *ngFor="let hab of habitats.controls; let index = index"
        [label]="hab.value.name ?? ''"
      >
        <ng-template mat-tab-label>
          <span class="warning" *ngIf="hab.invalid">⚠ </span>
          {{ hab.value.name }}
        </ng-template>
        <app-habitat-display [habitat]="hab"></app-habitat-display>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<button mat-raised-button color="warn" (click)="checkSafeZoo()">
  Is my zoo safe?
</button>
<!-- <button mat-raised-button color="primary" (click)="loadSafeZoo()">
  Load Safe Zoo Example
</button> -->
