<div
  *ngIf="animal; else empty"
  class="animal-display-container"
  [class.dead]="animal.hasError('dead')"
>
  <div style="display: contents" (click)="editAnimal(animal)">
    <div class="animal-emoji">
      {{ availableSpecies[animal.value.species || ""]?.emoji }}
      <div class="juvenile" *ngIf="animal.value.lifeStage === 'Juvenile'">
        🚼
      </div>
    </div>
    <div class="animal-name" [class.dead]="animal.hasError('dead')">
      ({{ animal.value.name }})
    </div>

    <div class="edit-hover">
      <div class="edit-emoji">📝</div>
    </div>

    <div class="dead-overlay" *ngIf="animal.hasError('dead')">
      <div class="dead-emoji">💀</div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="empty-animal">
    <strong>Empty</strong>
  </div>
</ng-template>
