<div
  *ngIf="animal; else empty"
  class="animal-display-container"
  [class.dead]="animal.hasError('dead')"
>
  <div style="display: contents">
    <div class="animal-emoji">
      {{ availableSpecies[animal.value.species || '']?.emoji }}
      <div class="juvenile emoji" *ngIf="animal.value.lifeStage === 'Juvenile'">
        🚼
      </div>
    </div>
    <div class="animal-name" [class.dead]="animal.hasError('dead')">
      ({{ animal.value.name }})
    </div>

    <div class="edit-hover">
      <button
        class="emoji"
        type="button"
        size="small"
        mat-icon-button
        (click)="editAnimal()"
      >
        📝
      </button>
      <button
        type="button"
        size="small"
        class="emoji"
        mat-icon-button
        (click)="deleteAnimal()"
      >
        🗑
      </button>
    </div>

    <div class="dead-overlay" *ngIf="animal.hasError('dead')">
      <div class="dead-emoji emoji">💀</div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="empty-animal">
    <strong>Empty</strong>
  </div>
</ng-template>
