.animal-display-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding: 10px;
  opacity: 1;
  cursor: pointer;

  .juvenile {
    font-size: 1.3rem;
    text-align: right;
    height: 5px;
  }

  &:hover .animal-emoji {
    opacity: 0.2;
  }

  &.dead {
    .animal-emoji {
      opacity: 0.2;
    }

    .animal-name {
      color: red;
      font-weight: bold;
    }
  }
}

.animal-display-container:hover .edit-hover {
  opacity: 1;
}

.animal-display-container:hover .dead-emoji {
  opacity: 0;
}

.edit-hover {
  opacity: 0;
  top: 0.4rem;
  left: 0.4rem;
  margin-top: -65px;
  text-align: center;
}

.edit-emoji {
  font-size: 1.5rem;
}

.dead-emoji {
  font-size: 1.5rem;
  top: 0.4rem;
  left: 0.4rem;
  margin-top: -65px;
  text-align: center;
}

.animal-emoji {
  font-size: 3rem;
}

.animal-name {
  padding-top: 5px;
  text-align: center;
}

.empty-animal {
  padding: 20px;
}
