<div *ngIf="animal; else empty" class="animal-display-container">
  <div style="display: contents" (click)="editAnimal(animal)">
    <div class="animal-emoji">
      {{ availableSpecies[animal.value.species || ""]?.emoji }}
      <div class="juvenile" *ngIf="animal.value.lifeStage === 'Juvenile'">
        🚼
      </div>
    </div>
    <div class="animal-name">({{ animal.value.name }})</div>

    <div class="edit-hover">
      <div class="edit-emoji">📝</div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="empty-animal">
    <strong>Empty</strong>
  </div>
</ng-template>
