<div class="navbar bg-neutral text-neutral-content">
  <div class="navbar-start">
    <a href="" [routerLink]="['']">Welcome to the Zoo!</a>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end">
    <a
      href=""
      [routerLink]="['environment', 'add']"
      class="btn btn-sm btn-secondary"
      >Add Environment</a
    >
    <button class="btn btn-sm btn-secondary">Add Zone</button>
    <button class="btn btn-sm btn-secondary">Add Animal</button>
  </div>
</div>
<router-outlet></router-outlet>
