<mat-toolbar color="primary">
  <button mat-button [routerLink]="['']">Welcome to the Zoo!</button>

  <span class="spacer"></span>
  <div class="nav-buttons">
    <button mat-raised-button color="accent" routerLink="environment/add">
      Add Environment
    </button>
    <button mat-raised-button color="accent" routerLink="zone/add">
      Add Zone
    </button>
    <button mat-raised-button color="accent" routerLink="animal/add">
      Add Animal
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
