<form class="standard-form" [formGroup]="habitatForm" (ngSubmit)="submit()">
  <h1>{{ isNew ? 'Add' : 'Edit' }} Habitat</h1>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="habitatForm.controls.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="habitatForm.controls.name.hasError('duplicateHabitatName')"
      >
        Name must be <strong>unique</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of habitatTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="habitatForm.controls.type.hasError('required')">
        Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!habitatForm.valid"
  >
    Save
  </button>

  <button
    type="button"
    mat-raised-button
    color="warn"
    (click)="deleteHabitat()"
  >
    Delete
  </button>
</form>
