<form class="standard-form" [formGroup]="zoneForm" (ngSubmit)="submit()">
  <h1>{{ isNew ? "Add" : "Edit" }} Zone</h1>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Environment</mat-label>
      <mat-select [formControl]="selectedEnvironment">
        <mat-option
          *ngFor="let env of currentEnvironments.controls; index as index"
          [value]="env.value.id"
        >
          {{ env.value.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="zoneForm.controls.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Max Capacity</mat-label>
      <input type="number" matInput formControlName="maxCapacity" />
      <mat-error *ngIf="zoneForm.controls.maxCapacity.hasError('required')">
        Max Capacity is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <!-- TODO: better conditional on the disabled attr -->
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="
      (!zoneForm.valid && zoneForm.hasError('safeZone')) ||
      !selectedEnvironment.valid
    "
  >
    Save
  </button>
</form>
