<form class="standard-form" [formGroup]="environmentForm" (ngSubmit)="submit()">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="environmentForm.controls.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of environmentTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="environmentForm.controls.type.hasError('required')">
        Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!environmentForm.valid"
  >
    Save
  </button>
</form>
