I'm smart
<dumb-component
  [data]="(user$ | async) ?? undefined"
  (formChanged)="onFormChanged($event)"
></dumb-component>

<dynamic-form-array
  [data]="(user$ | async)?.addresses ?? undefined"
  (addAddress)="onAddAddress()"
></dynamic-form-array>

<br />
<role-selection
  [data]="(user$ | async)?.role ?? undefined"
  (roleChanged)="onRoleChange($event)"
></role-selection>

<ng-container *ngIf="(user$ | async)?.role === Role.Manager">
  <team-members-selection></team-members-selection>
</ng-container>
